PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

MONGODB_URI=mongodb+srv://hellyjani2002_db_user:hellyjani@ecom.fmgsg1q.mongodb.net/
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET='gq6j6&3Q5s$4Xp#9@Lz!Wq^R2mYkTbV'
JWT_REFRESH_EXPIRES_IN=7d
# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key
RAZORPAY_KEY_SECRET=your_razorpay_secret

# Cloudinary
CLOUDINARY_CLOUD_NAME='dn7y3tuxa'
CLOUDINARY_API_KEY='343875886397291'
CLOUDINARY_API_SECRET='hZV8JSu1YXv4C-LQiPrAUz0B-MY'

# Email Service Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=Candle Ecommerce <your-email@gmail.com>   

# Google OAuth
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret

